[submodule "app/docs.md/4.0"]
	path = app/docs.md/4.0
	url = https://github.com/laravel-taiwan/docs.git
[submodule "app/docs.md/4.2"]
	path = app/docs.md/4.2
	url = https://github.com/laravel-taiwan/docs.git
